/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/

header {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.nav-link {
    padding: 1rem;
}

.user-actions button {
    margin-right: 1rem;
}

section.card-container {
    display: flex;
}

.card {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    margin: 1rem;
}


section.features {
    display: flex;
}

.feature-item {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    margin: 1rem;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.footer-section {
    display: flex;
    flex-flow: nowrap column;
    flex: 100px 1 1;
    padding: 0 1rem;
}

a {
    padding: 0 1.5rem 0.5rem 0;
}

/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/

/* This isn't flexbox, though it demonstrates the size limit of the page. */
body {
    min-width: 350px;
}

@media only screen and (max-width: 850px) {
    .nav-link {
        padding: 0.5rem;
    }

    .card,
    .feature-item {
        margin: 0;
    }

    .social-links {
        display: flex;
        flex-flow: nowrap column;
    }
}

@media only screen and (max-width: 750px) {

    header {
        justify-content: space-between;
    }

    .logo {
        flex-basis: 750px;
        flex-shrink: 0;
    }

    nav {
        margin: 0;
    }

    .features,
    .card-container {
        flex-flow: column;
    }

    .footer-content {
        flex-flow: wrap row;
    }

    .footer-section {
        flex-shrink: 2;
        margin-bottom: 3rem;
    }

    .footer-section:first-child {
        flex-shrink: 1;
        flex-basis: 500px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        flex-flow: column;
        justify-content: center;
    }
    .logo {
        flex-basis: unset;
    }
}